@inherits LayoutComponentBase

<MudThemeProvider Theme="muiDarkTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" style="background-color:#32333d">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode = true;

    /// <summary>
    /// https://github.com/MudBlazor/ThemeManager/blob/main/src/MudBlazor.ThemeManager/Models/PresetThemes.cs
    /// GetMuiDarkTheme()
    /// This is a literal rip off of that theme.
    /// </summary>
    private static readonly MudTheme muiDarkTheme = new()
        {
            Palette = new PaletteDark
            {
                Primary = "#007fff",
                Tertiary = "#594AE2",
                Black = "#27272f",
                Background = "#0a1929",
                BackgroundGrey = "#001e3c",
                Surface = "#001e3c",
                DrawerBackground = "#0a1929",
                DrawerText = "rgba(255,255,255, 0.50)",
                DrawerIcon = "rgba(255,255,255, 0.50)",
                AppbarBackground = "rgb(10, 25, 41)",
                AppbarText = "rgba(255,255,255, 0.70)",
                TextPrimary = "rgba(255,255,255, 0.70)",
                TextSecondary = "rgba(255,255,255, 0.50)",
                ActionDefault = "rgb(173, 173, 177)",
                ActionDisabled = "rgba(0, 127, 255, 0.40)",
                ActionDisabledBackground = "rgba(0, 127, 255, 0.26)",
                Divider = "rgba(0, 127, 255, 0.12)",
                DividerLight = "rgba(20, 127, 255, 0.06)",
                TableLines = "#00264C",
                LinesDefault = "rgba(0, 127, 255, 0.12)",
                LinesInputs = "rgba(0, 127, 255, 0.3)",
                TextDisabled = "rgba(0, 127, 255, 0.2)"
            },
            LayoutProperties = new LayoutProperties()
            {
                DefaultBorderRadius = "12px",
            }
        };
}