<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MannsMoneyRegister</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bills">
                <span class="oi oi-plus" aria-hidden="true"></span> Bills
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="introduction">
                <span class="oi oi-plus" aria-hidden="true"></span> Setup Guide Begin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="setup_accounts">
                <span class="oi oi-plus" aria-hidden="true"></span> Guide - (1) Account
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="setup_bills">
                <span class="oi oi-plus" aria-hidden="true"></span> Guide - (2) Bills
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}