<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="databaseLocation" value="d:\src\wpfMMR.sqlite3" />
		<add key="defaultAccountId" value="" />
		<add key="defaultSearchDayCount" value="" />
		<add key="defaultSearchDayCountCustomStart" value="" />
		<add key="defaultSearchDayCountCustomEnd" value="" />
	</appSettings>
</configuration>