<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseLocation" value="d:\src\wpfMMR.sqlite3" />
		<add key="DefaultAccountId" value="7509E8EA-9B71-40FB-A20A-0E8769F33406" />
		<add key="DefaultSearchDayCount" value="45 Days" />
		<add key="DefaultSearchDayCountCustomStart" value="" />
		<add key="DefaultSearchDayCountCustomEnd" value="" />
	</appSettings>
</configuration>