<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseLocation" value="d:\src\wpfMMR.sqlite3" />
		<add key="DefaultAccountId" value="" />
		<add key="DefaultSearchDayCount" value="45 days" />
		<add key="DefaultSearchDayCountCustomStart" value="" />
		<add key="DefaultSearchDayCountCustomEnd" value="" />
	</appSettings>
</configuration>